.bm {
    font-size: larger;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    margin-right: 0px;
    color: burlywood;
    padding-top: 900px;
    background-image: url(myfolder/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30px;
    width: 1300px;
    height: 900PX;
}
#ind {
    color: brown;
}
body {
    background-color: black;
    min-height: 100vh;
   
}
.row-1 {
    width: 320px;
    margin-left: 480px;
    display: flex;
    margin-bottom: 20px;
    margin-top: 400px;
}
.col-p {
    padding-right: 10px;
}
#btn-1 {
    border: 1px solid;
    background-color: green;
    text-decoration-line: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
}
#btn {
    border: 1px solid;
    background-color: blue;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
#btn-00 {
    border: 1px solid;
    background-color: red;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
#click {
    text-decoration-line: none;
}
#click:hover {
    color: deeppink;
}
#md:hover {
    color: deeppink;
}
#md {
    text-decoration-line: none;
    list-style-type: none;
}
.food {
    border: 1px solid black;
    width: 1400px;
    padding: 43px;
    margin-top: 40px;
    background-color: black
}
#ul {
    list-style-type: none;
    display: flex;
    
}
.row-food {
    display: flex;
    list-style-type: none;
}
.col-food {
    display: flex;
}
#ft:hover {
    color: deeppink;
    
}
#ft {
    text-decoration-line: none;
}   
#gf  {
    color: dodgerblue;
}
.fa {
    color: dodgerblue;
}
@media screen and (min-width: 480px) {
    .row-1 {
        margin-left: 520px;
    }
    
}@media screen and (min-width: 768px) {
    .row-1 {
        margin-left: 530px;
    }
    .bm {
        margin-left: 60px;
    }
}
@media screen and (min-width: 1024px) {
    .row-1 {
        margin-left: 520px;
    }
    
}
@media screen and (min-width: 1125px) {
    .row-1 {
        margin-left: 480px;
    }
}

