.top {
    border: 1px solid;
    padding: 50px;
    background-color: black;
    background-image: url(myfolder/4.png);
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;
    align-items: center;
    width: 1500px;
}
.map {
    border: 1px solid;
    border-radius: 12px;
    display: inline-block;
    padding: 23px;
    margin-top: 50px;
    width: 700px;
    background-color: darkslategray;
    margin-left: 300px;
}
.bottom {
    border: 1px solid;
    padding: 50px;
    background-color: darkslategray;
    width: 1500px;
}
#ul {
    list-style-type: none;
    display: flex;
    
}
.row-food {
    display: flex;
    list-style-type: none;
}
.col-food {
    display: flex;
}
#ft:hover {
    color: deeppink;
    
}
#ft {
    text-decoration-line: none;
}   
body {
    background-color: burlywood;
}
.row {
    border: 1px solid;
    padding: 40px;
    padding-right: 3px;
    padding-left: 60px;
    width: 1000px;
    border-radius: 30px;
    margin-bottom: 200px;
    margin-top: 100px;
    background-color: darkslategray;
}
.col {
    border: 1px solid;
    padding: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}
.row-a {
    border: 1px solid;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    width: 500px;
    background-color: dodgerblue;
}

.row-b {
    border: 1px solid;
    border-radius: 30px;
    padding: 60px;
    width: 1000px;
    background-color: darkslategray;
}

#pc {
    display: flex;
}
.mn {
    margin-bottom: 200px;
}
.row-1 {
    border: 1px solid dodgerblue;
    border-radius: 12px;
    padding: 80px;
    display: flex;
    width: 50px;
    background-color: white;
}
.row-2 {
    border: 1px solid dodgerblue;
    border-radius: 70px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 12px;
    background-color: darkslategray;
    margin-top: 50px;
    text-align: left;
}
.row-ceo {
    border: 2px solid dodgerblue;
    border-radius: 100px;
    background-color: darkslategray;
    padding: 50px;
    margin-top: 250px;
    text-align: center;
    margin-left: 390px;
}
.row-founder {
    border: 2px solid dodgerblue;
    border-radius: 300px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    width: 100px;
    margin-top: 200px;
}



