.logo {
    border: 1px solid;
    padding-bottom: 20px;
    width: 1500px;
    background-color: black;
    background-image: url(myfolder/4.png);
    background-repeat: no-repeat;
    background-blend-mode: ;
    height: 1000px;
    background-size: cover;
    align-items: center;
}
#submit {
    
    text-decoration-line: none;
}  
img   {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    border-radius: 12px;
    margin-left: 2px;
}
.row {
    width: 800px;
    margin-left: 80px;
}
body {
    background-color: lightcoral;
}
#click:hover {
    color: deeppink;
}
.food {
    border: 1px solid;
    width: 1500px;
    padding: 43px;
    margin-top: 40px;
    background-color: darkslategray;
}
#ul {
    list-style-type: none;
    display: flex;
    
}
.row-food {
    display: flex;
    list-style-type: none;
}
.col-w {
    margin-left: 10px;
}
.col-food {
    display: flex;
}
#ft:hover {
    color: deeppink;
    
}
#ft {
    text-decoration-line: none;
}    
#click {
    text-decoration-line: none;
}
.partner {
    margin-left: 80px;
    padding: 30px;
    width: 700px;
    font-size: larger;
    text-align: justify
}
.layout {
    margin-left: 80px;
    padding: 30px;
    width: 700px;
    text-align: justify;
    font-size: larger;
}
#btn-1 {
    border: 1px solid;
    background-color: gray;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
}
#btn-2 {
    border: 1px solid;
    background-color: black;
    text-decoration-line: none;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.row-1 {
    width: 100px;
    margin-left: 80px;
    display: flex;
    margin-bottom: 20px;
}
@media screen and (min-width: 1125px) {
    .row {
        margin-left: 20px;
    }
    .row-1 {
        margin-left: 20px;
    }
}
@media screen and (min-width: 768px) {
    .row {
        margin-left: 60px;
    }
    .row-1 {
        margin-left: 60px;
    }
    .layout {
        width: 1200px;
    }
    .partner {
        width: 1200px;
    }
}
@media screen and (min-width: 480px) {
    .row {
        margin-left: 88px;
    }
    .row-1 {
        margin-left: 88px;
    }
}
@media screen and (min-width: 1024px) {
    .row {
        margin-left: 50px;
    }
    .row-1 {
        margin-left: 50px;
    }
}
